<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '100%', height: '100%' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">{{medTree.display}}</span>
  </ng-template>
  <div class="slideway-cart-body">
    <div class="slideway">
      <div class="slideway-search">
        <span class="p-input-icon-left" id="searchbox">
          <i class="pi pi-search"></i>
          <input pInputText #searchbar type="text" placeholder="Search" style="width: 100%; height: 40px;" />
        </span>
        <button pButton pRipple type="button" label="查詢"></button>
      </div>
      <div class="slideway-content">
        <his-multi-slideway
          [treeList]="drugTree"
          (nodeChange)="onNodeChange($event)"
          [item]="drugLeaf"
          (itemSelected)="onItemSelect($event)">
        </his-multi-slideway>
      </div>
    </div>
    <div class="cart">
      <his-cart class="his-cart" [isTitleVisible]="true" [item]="cartItem" [(items)]="cartItems">
        <ng-content #name></ng-content>
      </his-cart>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="取消" class="p-button-secondary" (click)="onCancelClick()"></button>
    <button pButton pRipple type="button" label="加入醫囑" (click)="addOrderClick()"></button>
  </ng-template>
</p-dialog>
