.slideway-cart-body {
  display: flex;
  width: 100%;
  height: 100%;
}

.slideway {
  width: 75%;
  padding-right: var(--spacing-lg);
}

.cart {
  width: 25%;
  padding-left: var(--spacing-lg);;
  border-left: 1px solid var(--outline-variant, #B5BFBB);
}

.slideway-search {
  display: flex;
  width: 100%;
  gap: var(--spacing-xxs, 2px);
}

.slideway-content {
  height: 92%;
}

::ng-deep {
  .slideway-search .p-input-icon-left {
    flex: 1;
  }
}
